@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-font-color: #fef6e4;
  --bg-color: #000000;
}

@media (min-width: 1024px) {
  .padding-konten {
      padding-left: 20%;
      padding-right: 20%;
  }
}

.padding-konten {
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-monaspace-krypton);
  font-feature-settings: "'liga', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06', 'ss07', 'ss08', 'ss09', 'cv03', 'cv30', 'cv60', 'cv61', 'calt', 'zero', 'dlig'";
  font-variant-ligatures: common-ligatures;
  font-size: 16px;
  line-height: 1.5;
  color: var(--default-font-color);
}

.katex-display {
  background-color: #282828;
  padding: 15px 0 15px 0;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.katex {
  color: #d7865c;
}

.katex-display .katex {
  color: #d7865c;
}

center {
  background-color: #282828;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
