@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-color: #fef6e4;
  --bg-color: #193549;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-roboto-mono);
  font-size: 16px;
  line-height: 1.5;
  color: var(--default-color);
}